# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

out/
.gradle
gradle/
target/
generated/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

build/
